node_modules/
# Ignore next-swc large files
siliconvalleycodecamp/node_modules/@next/swc-linux-x64-gnu/next-swc.linux-x64-gnu.node
siliconvalleycodecamp/node_modules/@next/swc-linux-x64-musl/next-swc.linux-x64-musl.node
